section {
    padding: 1.25rem;

    h1.title-profile-card {
        font-size: 2rem;
        font-weight: 600;
        color: #ffffff;
        margin-bottom: 0.625rem;

    }

    ul.list-profile-card {
        padding: 0;

        @media only screen and (min-width: 48rem) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0;
            gap: 1rem;
        }

        @media only screen and (min-width: 62rem) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        li {
            list-style-type: none;
        }

        div.card {
            background-color: #D971AA;
            border: 0;
            font-size: 1rem;
            color: #034001;
            margin-bottom: 1.25rem;
            width: 18rem;
            height: calc(100% + 0.3125rem);
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 9.375rem;
                height: 9.375rem;
                margin-top: 1.25rem;
                border-radius: 0.25rem;
            }

            h5 {
                font-weight: 600;
            }

            p {
                color: black;
            }

            .btn {
                background-color: #034001;
                color: #ffffff;
            }
        }
    }
}